<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-info-circle" aria-hidden="true"></i> About</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>An application written in Angular to search for MOT testing stations. Uses the following libraries:</p>
  <ul>
    <li><a href="https://github.com/Asymmetrik/ngx-leaflet">ngx-leaflet</a> for the interactive map</li>
    <li><a href="https://github.com/ng-bootstrap/ng-bootstrap">ng-bootstrap</a> for responsive design and styling</li>
  </ul>
  <p>MOT test stations obtained from <a href="https://www.gov.uk/government/publications/active-mot-test-stations ">gov.uk data</a> of which this application uses the dataset last updated 26 April 2018.</p>
</div>
