<ngb-tabset>
  <ngb-tab title="By Name">
    <ng-template ngbTabContent>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <name-search [centres]="centres" (selected)="selectCentre($event)"></name-search>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="By Postcode">
    <ng-template ngbTabContent>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <postcode-search (searchPerformed)="searchByPostcode($event)"></postcode-search>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
